@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-color{
  background: #000000cc;
}
.nav-margin{
  margin-left: 19%;
}
.grey-background{
  background: #fcfcfc;
}
.iPhone-image{
  width: 80vw;
  margin: auto;
}
.iPhone-max-image{
  width: 40vw;
  margin: auto;
}
.grid-image{
  width: 40vw;
  margin-left: 60px;
  margin-right: 50px;
  min-height: 500px;
  border-radius: 25px;
}
.airtag-image{
  width: 20vw;
  margin: auto;
}
.button-margin{
  margin: auto;
  margin-top: 20px;
}
.airtag-images{
  width: 90%;
  margin-left: 5%;
}
.flex-image{
  width: 50vw;
  margin-top: -10px;
}
.flex-image-2{
  width: 30vw;
  margin-top: -10px;
  margin-left: 10%;
}